* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-red-100 {
  background-color: #fee2e2;
}
.border-red-500 {
  border-color: #ef4444;
}
.text-red-900 {
  color: #7f1d1d;
}

.bg-yellow-100 {
  background-color: #fef3c7;
}
.border-yellow-500 {
  border-color: #f59e0b;
}
.text-yellow-900 {
  color: #78350f;
}

.bg-green-100 {
  background-color: #dcfce7;
}
.border-green-500 {
  border-color: #22c55e;
}
.text-green-900 {
  color: #14532d;
}
